{% extends "base.html.twig" %}

{% block title %}ForumBundle:User:profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title">Profile</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 blog-main">
                {{ form_start(form) }}
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.avatar) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_row(form.birthday) }}
                    </div>
                    <div class="form-group col-md-12 pull-right">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
